[Bb]in/
[Oo]bj/

[Dd]ebug/
[Rr]elease/

*.suo
*.user
*.sln.docstates

.vs/
*.vspscc
database.db
.idea/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.orig

# Cache
data/cache/avatars/*
!data/cache/avatars/default.jpg

data/templates/*
!data/templates/default.jpg